.character {
  display: flex;
}

/* .left {
  order: 1;
} */

img {
  width: 200px;
}

.liked {
  background-color: lightgreen;
}

.not-liked {
  background-color: lightcoral;
}

.btn {
  background-color: #46a180; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
